# INTRO TO MACHINE LEARNING ON KAGGLE

In [1]:
pip install pandas

Requirement already satisfied: pandas in /home/kduah/.local/lib/python3.10/site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/kduah/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /home/kduah/.local/lib/python3.10/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
DEPRECATION: devscripts 2.22.1ubuntu1 has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of devscripts or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063
DEPRECATION: gpg 1.16.0-unknown has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of gpg or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [19]:
#saving file path to a variable
melbourne_file_path = '/home/kduah/Desktop/ML/01-Intro-to-ML/melb_data.csv'

#read the data with pandas and store the data in  a dataframe
melbourne_data = pd.read_csv(melbourne_file_path)

In [20]:
#describe the data
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

## Interpreting data description

The results show 8 numbers/rows for each column in your original dataset. The first number, the count, shows how many rows have non-missing values.

Missing values arise for many reasons. For example, the size of the 2nd bedroom wouldn't be collected when surveying a 1 bedroom house. We'll come back to the topic of missing data.

The second value is the mean, which is the average. Under that, std is the standard deviation, which measures how numerically spread out the values are.

To interpret the min, 25%, 50%, 75% and max values, imagine sorting each column from lowest to highest value. The first (smallest) value is the min. If you go a quarter way through the list, you'll find a number that is bigger than 25% of the values and smaller than 75% of the values. That is the 25% value (pronounced "25th percentile"). The 50th and 75th percentiles are defined analogously, and the max is the largest number.

## First Machine Learning Model
 Selection Of Data For Modelling
 
 The dataset had too  many variables for you to wrap your head around. We will use our intuition to pare this data down to something we can understand.
 
 Later, we will explore statistical measures that can help us to prioritize the datasets we need from seemingly chunks of data.
 
 To choose variables/columns, we'll need to see a list of all columns in the dataset. That is done with the columns property of the DataFrame.

In [21]:
# usage of the [ {columns} property]
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

## Missing Values In The Dataset
This dataset has missing values i.e, some variables were not recorded for some houses.
We will treat this very well in the later courses.

In [22]:
# drop missing values with: dropna == think of (na) as 'not available', axis=0 refers to the rows, x-axis.
melbourne_data = melbourne_data.dropna(axis=0)

## Selection Of Data With Pandas
There are two ways to select a subset of your data with pandas:

a) Dot notation, which we use to select the "prediction target"
b) Selecting with a column list, which we use to select the "features"

a) Dot Notation: 
    
    You can pull out a variable with dot-notation. 
    This single column is stored in a Series, which is broadly like a DataFrame with only a single column of data.
    
 We'll use the dot notation to select the column we want to predict, 
which is called the prediction target. By convention, the prediction target is called y.

So the code we need to save the house prices(since the house prices is what we want to predict) in the Melbourne data is:

In [23]:
#Column [Price],which is the prediction target.
y = melbourne_data.Price

## Choosing Features
The columns that are inputted into the model to predict the prediction target are called 'features'.
Sometimes, you will use all columns except the prediction target column.
However,often times, you will only select a handful of columns that impacts the prediction target.

In order to select columns to use in your model, you have to use square brackets, and quotation marks around each column you will select.

By convention, the columns you choose to use as "features" are labelled X.

In [26]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [27]:
X = melbourne_data[melbourne_features]

## Review the data we are working with.

We can always review the data we are working with using:

a) describe() method
b) head() method to have a look at the first few rows in the dataset.

In [29]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [31]:
# glimpse of the first few roles
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954